<form {{action 'doSearch' on='submit'}}>
  {{input value=query type='search' placeholder="Zoek uw kerk"}}
  {{md-btn-submit icon='mdi-action-search' text='Search'}}
</form>

{{#if model}}
  {{#md-collection content=content header=title as |hit|}}
    <div class='collection-item'>
      {{hit.station.name}}
      <div class='secondary-content'>
      {{hit.humanDistance}}
      </div>
    </div>
  {{/md-collection}}
{{/if}}

{{infinite-scroll hasMore=hasMore isLoading=isLoading action='loadMore'}}
